#container {
  position: relative;
  width: 100%;
  color: #2d3748;
}

#chat_container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-size: 1rem;
}

#current_info {
  display: flex;
  gap: 1rem;
  margin: 0.5rem 0;
}

#description_box {
  border: 0.5px solid black;
}

#description {
  padding: 0.5rem;
  border-top: 0.5px solid black;
}

#map {
  z-index: 1;
}

#corp_loc {
  margin-top: 30px;
  border: solid 1px #bcbcbc;
}

#top {
  display: flex;
  align-items: center !important;
  border-bottom: solid 1px #e0e0e0;
  padding: 0 20px;
}

#top_name {
  padding-right: 35px;
  white-space: nowrap;
  font-size: 15px;
  color: #272727;
  font-weight: bold;
  letter-spacing: -0.02em;
  margin: 15px 0;
  line-height: normal;
}

#address {
  font-size: 13px;
  color: #666;
  margin: 13px 0;
}
