#container {
  position: relative;
  width: 100%;
  color: #2d3748;
}

#chat_container {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  font-size: 1rem;
}

#current_chat {
  display: flex;
  gap: 1rem;
}

.profileimg {
  background-color: grey;
  height: 26px;
  margin: 0 1.5rem 1.5rem 1.5rem;
  border-radius: 5%;
}