a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  /* margin-bottom: 1rem; */
  border-radius: 0.25rem;
  background-color: #212529;
  color: #fff;
  text-decoration: none !important;
}

a:hover {
  background-color: #1d2124;
}

a.active {
  background-color: #1d2124;
}

ol {
  list-style-type: none;
}

button {
  border: none;
  background-color: transparent;
}

#chatTitle{
  color: white;
  display: flex;
  overflow: hidden;
  word-break: break-all;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.btns{
  display: flex;
  position: relative;
  z-index: 10;
  right: 1px;
  color: #ccc;
}