#authsection {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logoimg {
  margin-bottom: 1.5rem;
  height: 3rem;
}

.text {
  margin-bottom: 0.5rem;
}

.buttons {
  margin: 1.5rem 0rem 0.5rem 0rem;
}

.buttonlogin {
  margin-right: 1rem;
  width: 7.5rem;
}

.buttonsignup {
  width: 7.5rem;
}

.button {
  width: 5rem;
  display: inline;
  padding: 0;
  background-color: transparent;
}

.button:hover{
  background-color: transparent;
}

.socialbutton {
  width: 16rem;
  margin: 0.5rem 0;
}

.social {
  display: flex;
  align-items: center;
}

.googleimg {
  margin: 0rem 0.5rem;
}

.naverimg {
  margin: 0rem 0.2rem;
  width: 1.9rem;
  height: 1.9rem;
}

.kakaoimg {
  margin: 0rem 0.55rem;
  width: 1.2rem;
  height: 1.2rem;
}